<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- P3 관측성: 모든 로그에 traceId(상관관계 ID) 포함 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{traceId:-startup}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="http.access" level="INFO"/>
    <logger name="com.learnhub" level="DEBUG"/>
</configuration>
